@{
    ViewData["Title"] = "Home Page";
}

<h1>Wellcome to Restaurant System Project</h1>
<br />
<br />
<br />
<br />
<h4>This is teamwork project for Telerik Academy - Databases Course May 2017.</h4>
<h4>Done by: Sava Ivanov & Stefan Danchev</h4>
<br />
<br />
<a class="btn btn-default" href="https://github.com/Team-Return-Return/RestaurantSystem">
    Source code
</a>
<br />
<br />
<a class="btn btn-default" href="https://github.com/TelerikAcademy/Databases/tree/master/Teamwork/2017">
    Project Assignement
</a>